@{
    ViewData["Title"] = "Tisk Tisk";
}

<section class="text-left">
    <header class="row">
        <div class="col text-center">
            <h1 class="display-3">Tampering</h1>
            <hr />
            <span class="text-danger">The application has detected an input value that cannot occur through intended use.</span>
        </div>
    </header>
</section>
