@{
    ViewData["Title"] = "FlashCards";
}

<form method="post">
    <button type="submit" asp-controller="Create" asp-action="FlashCards" asp-route-inquizName="Hello" asp-route-cardNumber="1">Click here</button>
</form>



