@{
    ViewData["Title"] = "Setup";
}
@model Inquizition.Models.CreateSetup

<section class="text-left introduction">
    @if (ViewData["createNullAuthenticatedUser"] != null)
    {
        <header class="row">
            <div class="col">
                <span class="alert alert-danger">
                    @ViewData["createNullAuthenticatedUser"]
                </span>
            </div>
        </header>
    }
    else
    {
        <header class="row">
            <div class="col text-center">
                <h1 class="display-4">Initial Setup</h1>
                <span class="text-danger">
                    @ViewData["creationWontSave"]
                    @if (ViewData["creationWontSave"] != null)
                    {
                        <br />
                    }
                    @ViewData["wontShare"]
                </span>
                <hr />
            </div>
        </header>
        <article>
            <div class="row">
                <div class="col-7 col-md-5">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <h4>Choose assessment type:</h4><br />
                        <label class="radio_container" for="flashcards">
                            Flash Cards
                            <input type="radio" checked="checked" id="flashcards" name="SelectedAssessment" value="flashcards" />
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio_container" for="quiz">
                            Quiz
                            <input type="radio" id="quiz" name="SelectedAssessment" value="quiz" />
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio_container" for="twocolumn">
                            Two-Column List
                            <input type="radio" id="twocolumn" name="SelectedAssessment" value="twocolumn" />
                            <span class="checkmark"></span>
                        </label>
                        <span asp-validation-for="SelectedAssessment" class="text-danger"></span>
                        <br />
                        <h4>Input Inquizitor name:</h4><br />
                        <input type="text" name="AssessmentName" class="mb-4 form-control input-lg" />
                        <span asp-validation-for="AssessmentName" class="text-danger"></span>
                        <br />
                        <h4>Choose the access level:</h4><br />
                        <label class="radio_container" for="private">
                            Private
                            <input type="radio" checked="checked" id="private" name="IsPrivate" value="1" />
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio_container" for="public">
                            Public
                            <input type="radio" id="public" name="IsPrivate" value="0" />
                            <span class="checkmark"></span>
                        </label>
                        <span asp-validation-for="IsPrivate" class="text-danger"></span>
                        <br />
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </form>
                </div>
            </div>
        </article>
    }
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}