@{
    ViewData["Title"] = "Setup";
}
@model Inquizition.Models.CreateSetup

<section class="text-left introduction">
    @if (ViewData["createNullAuthenticatedUser"] != null)
    {
        <header class="row">
            <div class="col">
                <span class="alert alert-danger">
                    @ViewData["createNullAuthenticatedUser"]
                </span>
            </div>
        </header>
    }
    else
    {
        <header class="row">
            <div class="col text-center">
                <h1 class="display-4">Initial Setup</h1>
                <hr />
            </div>
        </header>
        <article>
            <div class="row">
                <div class="col-7 col-md-5">
                    <form asp-controller="Create" asp-action="InitialSetup">
                        <h4>Choose assessment type:</h4>
                        <label class="radio_container" for="flashcards">
                            Flash Cards
                            <input type="radio" checked="checked" id="flashcards" asp-for="SelectedAssessment" value="flashcards" />
                            <span class="checkmark"></span>
                        </label>
                        <!--
                        <label class="radio_container" for="quiz">
                            Quiz
                            <input type="radio" id="quiz" asp-for="SelectedAssessment" value="quiz" />
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio_container" for="twocolumn">
                            Two-Column List
                            <input type="radio" id="twocolumn" asp-for="SelectedAssessment" value="twocolumn" />
                            <span class="checkmark"></span>
                        </label>
                         -->

                        <br />
                        <h4>Input Inquizitor name:</h4>
                        <span asp-validation-for="InquizitorName" class="text-danger"></span>
                        <input type="text" asp-for="InquizitorName" class="mb-4 form-control input-lg" />
                        <br />
                        <h4>Choose the access level:</h4>
                        <label class="radio_container" for="private">
                            Private
                            <input type="radio" checked="checked" id="private" asp-for="IsPrivate" value="true" />
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio_container" for="public">
                            Public
                            <input type="radio" id="public" asp-for="IsPrivate" value="false" />
                            <span class="checkmark"></span>
                        </label>
                        <br />
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </form>
                </div>
            </div>
        </article>
    }
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}