@{
    ViewData["Title"] = "Setup";
}
@model Inquizition.Models.CreateSetup

<section class="text-left introduction">
    @if (ViewData["createNullAuthenticatedUser"] != null)
    {
        <header class="row">
            <div class="col">
                <span class="alert alert-danger">
                    @ViewData["createNullAuthenticatedUser"]
                </span>
            </div>
        </header>
    }
    else
    {
        <header class="row">
            <div class="col text-center">
                <h1 class="display-4">Initial Setup</h1>
                <span class="alert alert-warning text-danger">
                    @ViewData["creationWontSave"]
                    @ViewData["wontShare"]
                </span>
                <hr />
            </div>
        </header>
        <article>
            <div class="row">
                <div class="col">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <h6>Choose the assessment type:</h6><br />
                        <label for="flashcards">Flash Cards</label>
                        <input type="radio" id="flashcards" name="SelectedAssessment" value="flashcards" />
                        <label for="quiz">Quiz</label>
                        <input type="radio" id="quiz" name="SelectedAssessment" value="quiz" />
                        <label for="twocolumn">Two-Column List</label>
                        <input type="radio" id="twocolumn" name="SelectedAssessment" value="twocolumn" />
                        <span asp-validation-for="SelectedAssessment" class="text-danger"></span>
                        <br />
                        <h6>Inquizitor name:</h6><br />
                        <input type="text" name="AssessmentName" />
                        <span asp-validation-for="AssessmentName" class="text-danger"></span>
                        <br />
                        <h6>Choose the access level:</h6><br />
                        <label for="private">Private</label>
                        <input type="radio" id="private" name="IsPrivate" value="1" />
                        <label for="public">Public</label>
                        <input type="radio" id="public" name="IsPrivate" value="0" />
                        <span asp-validation-for="IsPrivate" class="text-danger"></span>
                        <br />
                        <button type="submit" class="btn-primary">Proceed</button>
                    </form>
                </div>
            </div>
        </article>
    }
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}