@{
    ViewData["Title"] = "Deletion Succeeded";
}

<section class="text-center">
    <header class="row">
        <div class="col text-center">
            <h1 class="display-3">"@ViewData["inquiz"]" Successfully Deleted</h1>
            <hr />
        </div>
    </header>
</section>