@{
    ViewData["Title"] = "Delete";
}
@model Inquizition.Models.PublishSummary

<section class="text-center">
    <header class="row">
        <div class="col text-center">
            <h1 class="display-3">Delete "@Model.Title"</h1>
            <hr />
        </div>
    </header>
    <article>
        <div class="row">
            <div class="col">
                <span class="text-danger lead">You have selected to delete this Inquizitor. A deleted Inquizitor can never be recovered.</span>
                <form asp-controller="Manage" asp-action="Delete">
                    <label for="deleteBtn">Are you sure you want to delete this Inquizitor?</label>
                    <input type="hidden" name="Title" value="@Model.Title" />
                    <br />
                    <button type="submit" class="btn btn-danger" id="deleteBtn">Yes</button>
                </form>
            </div>
        </div>
    </article>
</section>