@using Microsoft.AspNetCore.Identity
@model Inquizition.Models.UserInfo

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-12">
            <h2 class="display-4">Welcome back - <span style="color: lightgreen;">@User.Identity.Name</span>!</h2>
            @if (!Model.EmailConfirmed)
            {
                <span>
                    Verify your email to share content with friends:
                    <a asp-area="Identity" asp-page="/Account/Manage/Email">verify</a>
                </span>
            }
            <hr />
        </div>
        <div class="col-12">
            <!-- Add specific user content like bookmark links or popular.
            Add link to introduction if they havent completed it-->
        </div>
    }
    else
    {
        <div class="col-12">
            <h2 class="display-4">Welcome to Inquizition</h2>
            <hr />
        </div>
        <div class="col-12">
            <h4 class="lead">New to Inquizition? - <a asp-controller="Help" asp-action="Index">View the Introduction</a></h4>
        </div>
    }
</div>
