@using Microsoft.AspNetCore.Identity
@model Inquizition.Models.UserInfo

@{
    ViewData["Title"] = "Home Page";
}

    <section class="text-center lead">
        @if (User.Identity.IsAuthenticated)
        {
            <!-- Should never execute -->
            @if (Model == null)
            {
                <header class="row">
                    <div class="col">
                        <span class="alert alert-danger">@ViewData["homeNullAuthenticatedUser"]</span>
                    </div>
                </header>
            }
            else
            {
                <!-- Logged in content -->
                <header class="row">
                    <div class="col">
                        <h2 class="display-4">Welcome back - <span style="color: lightgreen;">@User.Identity.Name</span>!</h2>
                        @if (!Model.EmailConfirmed)
                        {
                            <span>
                                Verify your email to share content with friends: @Model.Username @Model.EmailConfirmed
                                <a asp-area="Identity" asp-page="/Account/Manage/Email">verify</a>
                            </span>
                        }
                        <hr />
                    </div>
                </header>
                <article>
                    <header class="row">
                        <div class="col">
                            <h4>What is Inquizition?</h4>
                        </div>
                    </header>
                    <div class="row">
                        <div class="col">
                            <p class="lead">
                                Inquizition is a web application that provides functionality to create, view, and
                                share <u>Inquizitors</u>.
                            </p>
                        </div>
                    </div>
                </article>

            }
        }
        else
        {
            <!-- -->
            <div class="col-12">
                <h2 class="display-4">Welcome to Inquizition</h2>
                <hr />
            </div>
            <div class="col-12">
                <h4 class="lead">New to Inquizition? - <a asp-controller="Help" asp-action="Index">View the Introduction</a></h4>
            </div>
        }
    </section>
