@{
    ViewData["Title"] = "Privacy";
}

    <section class="introduction">
        <header class="row">
            <div class="col">
                <h1 class="display-3 text-center">Privacy</h1>
                <hr />
            </div>
        </header>
        <article class="row text-left">
            <div class="col">
                <h4>Cookies</h4>
                <p>
                    Inquizition utilizes Microsoft's ASP.NET Core Identity library for generating cookies to implement the "remember me"
                    login functionality.
                </p>
            </div>
        </article>
        <article class="row text-left">
            <div class="col">
                <h4>Email</h4>
                <p>
                    Inquizition stores user email addresses in an Azure SQL Database. Email addresses are <b>NEVER</b> shared with other entities. Inquizition 
                    only sends emails to users pertaining to account information or policy changes.
                </p>
            </div>
        </article>
    </section>



