@{
    ViewData["Title"] = "Terms of Use";
}

<section class="text-left introduction">
    <header class="row">
        <div class="col">
            <h1 class="display-3 text-center">Terms of Use</h1>
            <hr />
        </div>
    </header>
    <article class="row">
        <div class="col">
            <h4>Content</h4>
            <p>
                Inquizition enforces a zero-tolerance policy pertaining to inappropriate content within the public section.
                <br />
                <br />
                The content of private Inquizitors is not monitored.
            </p>
        </div>
    </article>
    <article class="row">
        <div class="col">
            <h4>Storage</h4>
            <p>
                Inquizition currently does not enforce a cap on the amount of content a user creates/stores. This is subject to
                change based upon the site's popularity and Azure SQL pricing. Advanced notice will be given if a policy change is being implemented.
                <br />
                <br />
                Inquizition reserves the right to remove any content/users that appear to abuse the storage provided by Inquizition.
            </p>
        </div>
    </article>
</section>