@{
    ViewData["Title"] = "Help";
}
@model Inquizition.Models.UserInfo

<section class="text-left introduction">
    <header class="row">
        <div class="col">
            <h1 class="display-3 text-center">Introduction</h1>
            <hr />
        </div>
    </header>
    <!-- Band-aid fix for potentially validated user who is not in system -->
    @if (User.Identity.IsAuthenticated && Model == null)
    {
        <article class="row text-center">
            <div class="col">
                <span class="alert alert-danger">@ViewData["helpNullAuthenticatedUser"]</span>
                <a asp-controller="Home" asp-action="Index">Return to homepage</a>
            </div>
        </article>
    }
    else
    {
        <article>
            <header class="row">
                <div class="col">
                    <h4>What is Inquizition?</h4>
                </div>
            </header>
            <div class="row">
                <div class="col">
                    <p>
                        Inquizition is a web application that provides functionality to create, view, and
                        share <u>Inquizitors</u>.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <header class="row">
                <div class="col">
                    <h4>What's an Inquizitor?</h4>
                </div>
            </header>
            <div class="row">
                <div class="col">
                    <p>
                        <u>An Inquizitor is a user-created assessment</u>.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <header class="row">
                <div class="col">
                    <h4>Create</h4>
                </div>
            </header>
            <div class="row">
                <div class="col">
                    <p>
                        At the foundation of Inquizition is the ability to create Inquizitors.
                        The Create feature provides users with three available assessment templates:
                        <u>Flash Cards, Quizzes, and Two-Column Lists</u>. Each template provides unique features
                        for organizing and displaying assessment information.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <header class="row">
                <div class="col">
                    <h4>View</h4>
                </div>
            </header>
            <div class="row">
                <div class="col">
                    <p>
                        Inquizitors can be grouped into two categories based on access level: public and private.
                        The access level is specified by the creator.<br />
                        <u>Public</u>: the Inquizitor can be viewed by any user of the application. <br />
                        <u>Private</u>: the Inquizitor can only be viewed by the creator. <br />
                    </p>
                </div>
            </div>
        </article>
        <article>
            <header class="row">
                <div class="col">
                    <h4>Share</h4>
                </div>
            </header>
            <div class="row">
                <div class="col">
                    <p>
                        As we just learned, specifiying an Inquizitor as private restricts access to only the creator.
                        However, private Inquizitors can still be shared amongst the creator's friends. The user
                        can elect to grant access to specific users within a friends list.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <header class="row">
                <div class="col">
                    <h4>Social</h4>
                </div>
            </header>
            <div class="row">
                <div class="col">
                    <p>
                        Social functionality occurs via two platforms: <u>friends list messaging</u> and <u>public Inquizitor comment sections</u>.
                        begins by adding/accepting users to a friends list. Once added/accepted,
                        users can send direct messages and share Inquizitors.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <header class="row">
                <div class="col">
                    <h4>Where should I start?</h4>
                </div>
            </header>
            <div class="row">
                <div class="col">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>
                            <a asp-controller="Create" asp-action="Index" class="text-warning" style="border: dashed">Create</a> an Inquizitor!
                            <br />
                            Contribute to the public section by setting your new Inquizator to public.
                            <br />
                            <strong>Note:</strong> Due to the risk of innappropriate content, 
                            public Inquizitors cannot contain images, links, or audio files at this time.
                        </p>
                    }
                    else
                    {
                        <p>
                            <a asp-area="Identity" asp-page="/Account/Register" class="text-warning" style="border: dashed">Register</a> an account!
                            <br />
                            Creating an account allows you to save created Inquizitors,
                            add friends, comment on public Inquizitors, and more!
                        </p>
                    }
                </div>
            </div>
        </article>
    }
</section>



