@{
    ViewData["Title"] = "Introduction";
}

<div class="text-center row">

    <div class="col-12">
        <h1 class="display-4">Introduction to Inquizition</h1>
    </div>
    @if (User.Identity.IsAuthenticated)
    {

    }
    else
    {

    }
</div>

</div>
