@{
    ViewData["Title"] = "Report Submitted";
}

<section>
    <header class="row">
        <div class="col text-center">
            <h1 class="display-4">Report Successfully Submitted</h1>
            <hr />
        </div>
    </header>
</section>