/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #00a9ff;
}

main {
    font-size: 22px;
}

hr {
    border-top: 1px solid white;
}

textarea {
    resize: none;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
    color: #00a9ff;

}

#CardFront {
    transition-duration: 1s;
}

.jumbotron {
    background-color: rgba(128, 128, 128, 0.56);
}

h4 {
    color: #00a9ff;
}

.form-group a {
    color: #00a9ff;
}

.dropdown-menu a:hover {
    background-color: #00a9ff;
}

.dropdown-menu {
    background-color: white;
    font-size: 18px;
}

.btn-dark {
    transition-duration: 0.4s;
}

    .btn-dark:hover {
        border-color: white;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    border-color: white;
}

.btn-link {
    color: #00a9ff;
}

.btn-link:hover {
    color: #00a9ff;
}

#logout:hover {
    text-decoration: underline;
}

.btn {
    font-size: x-large;
}

#toggle-boi {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(00,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#toggle-button {
    border-color: black;
    transition-duration: 0.4s;
}

    #toggle-button:hover {
        outline: #00a9ff;
        border: 3px solid #00a9ff;
    }

    #toggle-button:focus {
        outline: black;
    }

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0px 3px 15px white;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #121319;
  color: white;
}

.navbar-shadow{
    box-shadow: 0px 3px 15px white;
}

.nav-item {
    font-weight: bold;
    font-size: 18px
}

.nav-item:hover {
    text-decoration: underline;
}

#email {
    font-size: large;
    margin-bottom: 10px;
}

#change-password {
    font-size: large;
    margin-bottom: 10px;
}

#email:hover {
    color: white;
    border: 1px solid white;
}

#inquiz:hover {
    text-decoration: underline;
}

#change-password:hover {
    color: white;
    border: 1px solid white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Radio button */
/* The container */
.radio_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
    .radio_container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.flip_container {
    width: 100%;
    height: 250px;
    cursor: pointer;
}


.flip {
    -webkit-transition: 0.75s;
    transition: 0.75s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
}

.flip-counter {
    -webkit-transition: 0.75s;
    transition: 0.75s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip_front,
.flip_back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip_front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip_back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    /*
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    border-radius: 5px;
        */
}