/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #00a9ff;
}

    a:hover {
        text-decoration: underline;
        color: #00a9ff;
    }

.form-group a {
    color: #00a9ff;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    border-color: white;
}

.btn-link {
    color: #00a9ff;
}

.btn-link:hover {
    color: #00a9ff;
}

#logout:hover {
    text-decoration: underline;
}

#toggle-boi {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(00,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#toggle-button {
    border-color: black;
    transition-duration: 0.4s;
}

#toggle-button:hover {
    outline: black;
    border:3px solid black;
}

    #toggle-button:focus {
        outline: black;
    }

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #121319;
  color: white;
}

.nav-item:hover {
    text-decoration: underline;
}
#email {
    font-size: large;
    margin-bottom: 10px;
}

#change-password {
    font-size: large;
    margin-bottom: 10px;
}

#email:hover {
    color: white;
    border: 1px solid white;
}

#inquiz:hover {
    text-decoration: underline;
}

#change-password:hover {
    color: white;
    border: 1px solid white;
}

hr {
    border-top: 1px solid white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
